.card__image--large {
    width: 37rem;
    /*592px*/
    height: 30.3125rem;
    /*485px*/
    margin-bottom: 2rem;
    /* 32px */
}

.card--large .btn-group {
    display: flex;
    justify-content: center;
}